
:root {
    --back: hsla(0, 100%, 0%, 1);
    --back2: hsla(0, 100%, 0%, .5);
    --foredark: hsla(0, 0%, 10%, 1);
    --forelight: hsla(0, 0%, 100%, 1);
    --border: hsla(0, 0%, 20%, .8);
    --borderlight: hsla(0, 0%, 33%, .3);
    --shadow: hsl(0, 0%, 50%);
    --zebra: hsl(0, 0%, 93%, 1);
}

body {
	font-family: "EB Garamond", Arial, serif;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--forelight);
	font-size: .85rem;
}

.highlight {
	background-color: var(--back);
    color: var(--forelight)
}

.highgray {
    background-color: var(--back2);
    color: var(--forelight)
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th {
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}

.yes {
    color: green;
    font-weight: bold;
}

.no {
    color: red;
    font-weight: bold;
}
