:root {
  --blue: rgb(29 77 114);
  --blue-1: rgb(29 77 114 / 0.1);
  --blue-7: rgb(29 77 114 / 0.7);
  --brown: rgb(100 50 25);
  --yellow: rgb(255 255 0);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #333;
}

header {
  background-color: var(--blue);
  color: #fff;
}

#course-title {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #333;
  display: flex;

  & a {
    flex: 1 1 100%;
    display: block;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;

    &:visited {
      color: #fff;
    }

    &:hover {
      color: #fff;
      background-color: var(--brown);
      font-weight: 600;
    }
  }
}

main {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
}

h1 {
  grid-column: 1 / 3;
  font-size: 2rem;
  margin: 0.5rem;
  text-align: center;
}

h2 {
  text-align: center;
  background-color: var(--blue);
  color: #fff;
  margin-block-end: 0.5rem;
  font-size: 1.1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
}

footer {
  font-size: 0.9rem;
  padding: 1rem;
  background-color: var(--blue);
  color: #fff;

  & p {
    margin: 0;
    text-align: center;
  }
}

img {
  width: 100%;
  height: auto;
  border: 1px solid rgb(0 0 0 / 0.3);
  margin: 0.5rem;
}

.profile {
  width: 120px;
  height: auto;
  margin-inline-end: 2rem;
}

.card {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 0.5rem;
  border: 1px solid rgb(0 0 0 / 0.3);

  & p {
    padding: 1rem;
  }
}

.me {
  & img {
    float: right;
  }
}

.country {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;

  & h3 {
    grid-column: 1 / 3;
    text-align: center;
    border-bottom: 1px solid #bbb;
    width: 80%;
    margin-inline: auto;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.highlight {
  color: yellow;
  font-size: smaller;
}

figure {
  margin: 0.5rem;
}

figcaption {
  font-size: smaller;
  text-align: center;
  font-style: italic;
}