:root {
  --back1: rgba(44, 4, 44, 1);
  --back2: rgba(44, 4, 44, .2);
  --border: rgba(0, 0, 0, .1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 0;
  width: 100%;
  max-width: 500px;
}

header,
footer {
  color: white;
  background-color: var(--back1);
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
}

h1 {
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

form {
  margin: 1rem auto;
  border: 1px solid var(--border);
  padding: 1rem;
  background-color: var(--back2);
  border-radius: 5px;
  max-width: 500px;
}

.item {
  margin-bottom: 1rem;
}

label,
.item p {
  font-size: .85rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="checkbox"],
input[type="date"],
input[type="radio"],
textarea,
select {
  margin-top: .25rem;
  padding: .5rem;
  border: 1px solid var(--border);
  width: 100%;
}

input:focus {
  outline: 1px solid #999;
}

input[type="checkbox"],
input[type="radio"]{
  width: 20px;
  height: 20px;
}

input[type="submit"] {
  font-weight: 700;
  font-size: larger;
  width: 100%;
  padding: .5rem;
}

textarea {
  height: 6rem;
}

.radio-group {
  margin-top: .25rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 10px;
}

.page-container {
  max-width: 500px;
  margin: 0 auto;
}

.radio-item {
  display: flex;
  flex-direction: column;
  align-items: center
}

.radio-item label {
  font-size: 1.2rem;
  line-height: 1;
  padding-bottom: 5px;
}

.checkbox-group {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  width: max-content;
}

.checkbox-group label {
  margin-left: .5rem;
}

.smaller {
  font-size: .7rem;
  color: navy;
}

.required {
  color: red;
  font-weight: 700;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
}

.required-note {
  font-size: 0.9em;
  color: #666;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 600px) {

  h1 {
    font-size: 2rem;
  }

  .required {
    color: darkred;
  }

  .radio-group {
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 20px;
  }

}