@media screen and (min-width: 880px) {
  h1.handler {
    display: block;
    width: 100%;
  }

  #hambutton {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav a {
    display: block;
    font-size: 1.5rem;
  }

  .res-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
